     <div class="beer-partial">
         <div class="partial-img">
          <img src="{{image_url}}" width="200" alt="">
        </div>
      <div>
        <h2 class="name">{{name}}</h2>
        <p class="description">{{description}}</p>
        <p class="tagline">{{tagline}}</p>

        <a href="/{{id}}">See more</a>
      </div>  

      